# Python bytecode files
__pycache__/
*.pyc
*.pyo

# PyCharm specific files
.idea/

# Virtual environment
venv/
env/

# Operating system-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Log files
*.log

# Other common exclusions
*.bak            # Backup files
*.swp            # Vim swap files
